app = 'hcm-chatbot-nodejs-api'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[checks]
  [checks.alive]
    grace_period = "1s"
    interval = "15s"
    method = "get"
    path = "/health"
    port = 8000
    protocol = "http"
    restart_limit = 0
    timeout = "2s"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = "production"
  PORT = "8000"
